$body-background-color : #242528;
$secondary-background-color : #2C2D31;
$input-background-color : #333333;
$input-border-color : #007ACC;
$input-color : #D9EBF9;
$icon-background : rgba(233, 203, 201, .05);
$error-background :rgba(204, 167, 0, .3);
$white : #ffffff;
$error-color : #FF0000;
$placeholder-color : #E9CBC9;

$text-color : #8D8D92;
$list-hover-color : #36373A;
$button-background : #CCCCCC;